* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Staatliches', cursive; */
    font-family: 'Lato', sans-serif;
    background: rgb(2 10 20 / 93%);
}

.container {
    max-width: 800px;
    height: 100vh;
    /* padding: 20px 0; */
    /* background: rgb(39, 36, 36); */
    margin: 0 auto;
    color: lightgray;
    overflow: hidden;
    display: flex;
    align-items: center;
}
/* .container:before {
    content: '';
    height: 90vh;
    width: 3px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
} */
.book {
    width: 100%;
    height: 90%;
    /* margin: 5% 0; */
    border-left: 4px solid gray;
    overflow: hidden;
    position: relative;
    animation: live-border 7s linear infinite;

}

@keyframes live-border {
    0% {
        border-left: 4px solid rgb(171, 235, 171);
    }
    50% {
        border-left: 4px solid rgb(162, 215, 233);
    }
    100% {
        border-left: 4px solid rgb(241, 241, 179);
    }
}
/* .book::-webkit-scrollbar { 
    display: none;  
} */
.wide {
    display: flex;
    width: 1600px;
    height: 100%;
    /* overflow: scroll; */
}
.page {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    height: 100%;
    width: 100vw;
    max-width: 100%;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.header {
    /* height: 350px; */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    background: url('../images/pic2.jpg');
    background-position: center;
    background-size: 100%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background: pink; */
    margin-bottom: 25px;
    overflow: hidden;
    border: 1px solid pink;
    transition: all .2s;
    opacity: 0;
    animation: slide-up .6s ease-in forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
    }
}
.info {
    text-align: center;
    opacity: 0;
    animation: slide-down .6s ease-in .5s forwards;
}
.info h1 {
    letter-spacing: 2px;
    font-size: 2rem;
    transition: all .2s;
}

.info h1:hover {
    letter-spacing: 3px;
}
.info h3 {
    letter-spacing: 1px;
    margin-top: 10px;
}

.socials {
    font-size: 20px;
    margin-top: 22px;
    /* background: white; */
    opacity: 0;
    animation: slide-down .9s ease-in-out 1s forwards;
}

@keyframes slide-down {
    0% {
        transform: translateY(-25px);
        opacity: 0;
    }
    85% {
        transform: translateY(5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.socials i {
    margin: 0 7px;
    transition: all .1s;
}

.socials i:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: lightgray;
}
a:link a:visited {
    color: lightgray;
}
.navigation {
    position: absolute;
    right: 42%;
    bottom: 65px;
    
}
.navigation button {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 2px;
    transition: all .2s linear;
}

.active-button {
    background-color: rgb(179, 181, 184);
}
.navigation button:active {
    outline: none;
}

.navigation button:hover {
    transform: scale(.9);
}
/* @media (max-width: 1000px) {
    .book {
        margin: 110px 0;
    }
} */

@media screen and (min-width: 400px) {
    .navigation {
        right: 43%;
    }
}

@media screen and (min-width: 520px) {
    .navigation {
        right: 44%;
    }
}

@media screen and (min-width: 600px) {
    .navigation {
        right: 45%;
    }
}

@media screen and (min-width: 700px) {
    .navigation {
        right: 46%;
    }
}

 @media only screen and (min-width: 800px) {
     .book {
        border-right: 1px solid rgba(73, 73, 72, 0.664);
     }
     .page {
         width: 800px;
     }
     .profile-pic:hover {
        background-size: 80%;
        /* transform: scale(.8); */
    }
     .navigation {
         right: 47%;
     }
 }

 @media screen and (min-width: 1170px) {
    .navigation {
        right: 48%;
    }
}

@media screen and (min-width: 1610px) {
    .navigation {
        right: 48.7%;
    }
}

